{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Notify for: {{filename}}</h2>
        </div>  
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary" onclick="calcEA('{{filename}}')" id="calcEA_btn">
                Calc Email Accounts for this PDF
            </button>
        </div>
    </div>
    {% if message %}
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if email_list %}
    <div class="container">
        <div class="row" style="padding-bottom: 1rem;">
            <div class="col-8">Email Address</div>
            <div class="col-2">Action</div>
            <div class="col-2">Status</div>
        </div>
        {% for email in email_list %}
        <div class="row">
            <div class="col-8">{{ email }}</div>
            <div class="col-2" >
                <button class="btn btn-primary" id="{{email}}-send"
                    style="padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.15rem; padding-bottom: 0.15rem;" 
                    onclick="sendOne('{{ email }}', '{{ filename }}');">
                    Send
                </button>
            </div>
            <div class="col-2" id="{{email}}-status">
                {% if email in sent_emails %}
                    <span class="badge bg-success">Sent</span>
                {% else %}
                    <span class="badge bg-danger">Not Sent</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div> <!-- container -->

<script>
let pgs = [];
let start_time = new Date();
let finish_time = new Date();

async function calcEA(filename) {
    let btnid = document.getElementById("calcEA_btn");
    btnid.disabled = true;

    let url = "/notify/calcEA/" + filename;

    // Fetch the list of email accounts from the server via post request
    const response = await fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
    });
    console.log("Response: ", response);
    btnid.disabled = false;
}

async function sendOne(email, filename) {
    const btnid = document.getElementById(email + "-send");
    btnid.disabled = true;
    const statusid = document.getElementById(email + "-status");
    statusid.innerHTML = '<span class="badge bg-warning">Sending...</span>';
    const url = "/notify/send-one-email";
    // send form data instead of JSON
    const formData = new URLSearchParams({
        email: email,
        filename: filename,
    });
    const response = await fetch(url, {
        method: 'POST',
        body: formData,
    });
    // check if the response.status is 200
    const responseData = await response.json();
    const result = responseData.result;
    const code = responseData.code;

    if ((code >= 200) && (code < 300)) {
        statusid.innerHTML = '<span class="badge bg-success">' + result + '</span>';
        btnid.innerHTML = 'Sent';
    } else if (code === 400) {
        statusid.innerHTML = '<span class="badge bg-danger">' + result + '</span>';
        btnid.innerHTML = 'Error';
    } else if (code === 401) {
        statusid.innerHTML = '<span class="badge bg-danger">Unauthorized</span>';
        btnid.innerHTML = 'Error';
    } else {
        statusid.innerHTML = '<span class="badge bg-danger">Error:' + result + '</span>';
        btnid.innerHTML = 'Error';
    }

}

</script>

{% endblock %}
