{% extends "base.html" %}
{% block content %}
    <h2>Select Files for Processing</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for file in files %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="{{ file.id }}">{{ file.filename }}</div>
                                </div>
                                <!-- https://emojipedia.org/ -->
                                <div class="col-md-1">
                                    <button id="{{ file.id }}_set" class="btn btn-primary"
                                            title="Settings for this file"
                                            onclick="showHideSettings('{{ file.id }}', '{{ file.filename }}');"
                                    >
                                        <img src="/static/images/cogs.svg" width="20" height="20" alt="gear">
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button id="{{ file.id }}B" class="btn btn-primary"
                                            onclick="asyncSubmit(event, '{{ file.id }}', '{{ file.filename }}' );"
                                            title="Calculate page numbers for each account in the pdf"
                                    >
                                        <img src="/static/images/text-box-search-outline.svg" width="20" height="20"
                                             alt="calculator">
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button id="{{ file.id }}EP" class="btn btn-primary"
                                            onclick="window.location = '/extract/pages/{{ file.filename }}'"
                                            title="Extract pages for each account in the pdf"
                                            {% if not file.processed %} disabled {% endif %}
                                    >
                                        <img src="/static/images/content-copy.svg" width="20" height="20" alt="file">
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button id="{{ file.id }}email_calc" class="btn btn-primary"
                                            onclick="window.location = '/notify/show/{{ file.filename }}'"
                                            title="Determine who to notify via email"
                                            {% if not file.processed %} disabled {% endif %}
                                    >
                                        <img src="/static/images/email-search.svg" width="20" height="20" alt="file">
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button id="{{ file.id }}DEL" class="btn btn-danger"
                                            onclick="showHideDelDiv('{{ file.id }}');"
                                            title="Delete all extracted pages in account's folder"
                                            {% if not file.processed %} disabled {% endif %}
                                    >
                                        <img src="/static/images/file-document-remove-outline.svg" width="20" height="20" alt="file">
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <!-- add a spinner icon here -->
                                    <div class="spinner-border text-primary"
                                         style="display: none;"
                                         role="status"
                                         id="{{ file.id }}icon">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                                <!--    The following is a small settings div that allows users to specify
                                        search patterns and save options for each file.
                                        It is hidden by default and can be shown/hidden by clicking the gear icon. -->
                                <div class="row" id="{{ file.id }}_set_div" style="display: none; width: 100%;">
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="sp_{{ file.id }}">Search Pattern:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" id="sp_{{ file.id }}"
                                                       name="sp_{{ file.id }}"
                                                       class="form-control"
                                                >
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="{{file.id}}_button1" class="btn btn-info">?</button>
                                            </div>
                                        </div>
                                        <div class="row" id="{{file.id}}_info1" style="display: none;">
                                            <div class="col-md-12">
                                                <p>
                                                    The search pattern is used to identify account numbers in the PDF.
                                                    The program is expecting a regular expression.  Here is a link
                                                    to an online tutorial about this topic.
                                                    <a href="https://www.geeksforgeeks.org/dsa/write-regular-expressions/"
                                                    target="_blank">
                                                        Regex Tutorial - How to write Regular Expressions
                                                    </a>.
                                                    At Westlands, most of the account numbers are formatted
                                                    similar to "Account: 123456" so the following regular expression
                                                    should work in most cases: "Account: (\d+)\n".<br>
                                                    This will search for the word "Account: " followed by
                                                    one or more digits and a newline character.
                                                </p>
                                                <hr>
                                            </div>
                                        </div>
                                       <script>
                                            document.getElementById("{{file.id}}_button1").addEventListener("click", function() {
                                                let info = document.getElementById("{{ file.id }}_info1");
                                                if (info.style.display === "none") {
                                                    info.style.display = "block";
                                                } else {
                                                    info.style.display = "none";
                                                }
                                            });
                                        </script>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="sa_{{ file.id }}">Save As:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" id="sa_{{ file.id }}" name="sa_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="{{ file.id }}_button2" class="btn btn-info">?</button>
                                            </div>
                                        </div>
                                        <div class="row" id="{{ file.id }}_info2" style="display: none;">
                                            <div class="col-md-12">
                                                <p>
                                                    The save as, is used as the filename when saving pages
                                                    for each account.  All accounts will use this same name when
                                                    saving their pages to their E-Docs folder.  Be careful to not
                                                    use a name already used by another processed file.  Recommended
                                                    save as name should be something like "2025 Assessment.pdf" where
                                                    the name is descriptive of the file and unlikely to be used
                                                    again.
                                                </p>
                                                <hr>
                                            </div>
                                        </div>
                                        <script>
                                            document.getElementById("{{file.id}}_button2").addEventListener("click", function() {
                                                let info = document.getElementById("{{ file.id }}_info2");
                                                if (info.style.display === "none") {
                                                    info.style.display = "block";
                                                } else {
                                                    info.style.display = "none";
                                                }
                                            });
                                        </script>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="sd_{{ file.id }}">Save Date:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="date" id="sd_{{ file.id }}" name="sd_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="{{ file.id }}_button3" class="btn btn-info">?</button>
                                            </div>
                                        </div>
                                        <div class="row" id="{{ file.id }}_info3" style="display: none;">
                                            <div class="col-md-12">
                                                <p>
                                                    The save date is used to apply a date to the saved file.
                                                    This is important since the file date is used to arrange
                                                    the available files in the E-Docs folder.  Customer will see
                                                    the files new to old based on the date of the file.
                                                </p>
                                                <hr>
                                            </div>
                                        </div>
                                        <script>
                                            document.getElementById("{{file.id}}_button3").addEventListener("click", function() {
                                                let info = document.getElementById("{{ file.id }}_info3");
                                                if (info.style.display === "none") {
                                                    info.style.display = "block";
                                                } else {
                                                    info.style.display = "none";
                                                }
                                            });
                                        </script>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="pd_{{ file.id }}">Process Date:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="date" id="pd_{{ file.id }}" name="pd_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="ms_{{ file.id }}">Message Subject:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" id="ms_{{ file.id }}" name="ms_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="{{ file.id }}_button4" class="btn btn-info">?</button>
                                            </div>
                                        </div>
                                        <div class="row" id="{{ file.id }}_info4" style="display: none;">
                                            <div class="col-md-12">
                                                <hr>
                                                <p>
                                                    This text will be used as the subject of the email to
                                                    each account + email address holder.
                                                </p>
                                                <hr>
                                            </div>
                                        </div>
                                        <script>
                                            document.getElementById("{{file.id}}_button4").addEventListener("click", function() {
                                                let info = document.getElementById("{{ file.id }}_info4");
                                                if (info.style.display === "none") {
                                                    info.style.display = "block";
                                                } else {
                                                    info.style.display = "none";
                                                }
                                            });
                                        </script>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="mb_{{ file.id }}">Message Body:</label>
                                            </div>
                                            <!-- Allow the user to enter a multiline text body for the messages -->
                                            <div class="col-md-7">
                                                <textarea type="textarea" id="mb_{{ file.id }}" name="mb_{{ file.id }}"
                                                         rows="3" style="overflow:hidden; resize:vertical;"
                                                       class="form-control">
                                                </textarea>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="{{ file.id }}_button5" class="btn btn-info">?</button>
                                            </div>
                                        </div>
                                        <div class="row" id="{{ file.id }}_info5" style="display: none;">
                                            <div class="col-md-12">
                                                <hr>
                                                <p>
                                                    This is the text that will be used in the body of the email.
                                                    You can use the following placeholders to include dynamic content:
                                                    <hr>
                                                    <ul>
                                                        <li><strong>{email_name}</strong> - The name associated with the email account.</li>
                                                        <li><strong>{email_address}</strong> - Email Address for this contact.</li>
                                                        <li><strong>{account_numbers}</strong> - This is a list of the account numbers associated with this contact.</li>
                                                    </ul>
                                                </p>
                                                <hr>
                                            </div>
                                        </div>
                                        <script>
                                            document.getElementById("{{file.id}}_button5").addEventListener("click", function() {
                                                let info = document.getElementById("{{ file.id }}_info5");
                                                if (info.style.display === "none") {
                                                    info.style.display = "block";
                                                } else {
                                                    info.style.display = "none";
                                                }
                                            });
                                        </script>

                                        <div class="row" style="display: none;">
                                            <div class="col-md-4">
                                                <label for="names_{{ file.id }}">Include Account Names:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="checkbox" id="names_{{ file.id }}" name="names_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="row" style="display: none;">
                                            <div class="col-md-4">
                                                <label for="nums_{{ file.id }}">Include Account Numbers:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="checkbox" id="nums_{{ file.id }}" name="nums_{{ file.id }}"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">&nbsp;</div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary"
                                                        onclick="saveSettings(event, '{{ file.id }}', '{{ file.filename }}');">
                                                    Save
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary"
                                                        onclick="asyncTest(event, '{{ file.id }}', '{{ file.filename }}');">
                                                    Test
                                                </button>
                                            </div>
                                            <div id='{{ file.id }}_test_button' class="col-md-2 test_button" style="display: none;">
                                                <!-- <<{{ file.filename }}.test.pdf>> -->
                                                <a href="/dumpfile/{{ file.filename }}"
                                                           title="Download the test PDF for this file"
                                                           class="btn btn-success">
                                                    Download Test PDF
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--    The following is a small delete div that allows users to delete all generated
                                        account pdf files for each file. It is hidden by default and can be
                                        shown/hidden by clicking the file-delete-remove-outline icon. -->
                                <div class="row" id="{{ file.id }}_del_div" style="display: none; width: 100%;">
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    Delete All Generated Account PDF files for:
                                                    {{ file.filename }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button class="btn btn-danger"
                                                        onclick="deleteAllFiles('{{ file.id }}', '{{ file.filename }}');">
                                                    Delete All Files
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-5">
                                    <div id="{{ file.id }}progress" style="display: none;">&nbsp;</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        let progressBarTimer = null;

        function asyncSubmit(event, id, filename) {
            event.preventDefault();
            const formData = new FormData();
            formData.append("filename", filename);

            let element = document.getElementById(id + "B");
            element.disabled = true;
            element = document.getElementById(id + "EP");
            element.disabled = true;
            element = document.getElementById(id + "icon");
            element.style.display = "block";
            element = document.getElementById(id + "progress");
            element.style.display = "block";

            // setup timer to update the progress bar every 2 seconds
            progressBarTimer = setInterval(() => {
                updateProgressBar(id);
            }, 2000);

            fetch("/process", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    // Handle the result if needed
                    element = document.getElementById(id + "B");
                    element.disabled = false;
                    element = document.getElementById(id + "EP");
                    element.disabled = false;
                    element = document.getElementById(id + "icon");
                    element.style.display = "none";
                    element = document.getElementById(id + "progress");
                    element.style.display = "none";

                })
                .catch(error => {
                    alert("An error occurred while processing the file.");
                });

            return false;
        }

        // update the progress bar
        async function updateProgressBar(id) {
            let filename = document.getElementById(id).innerText;
            let url = "/select/progress/get_current/" + filename;

            try {
                const response = await fetch(url, { method: "GET" });
                const result = await response.json();
                console.log("Progress result: ", result);

                let progress = (result.current / result.total) * 100;
                // round progress to nearest integer
                progress = Math.round(progress);
                let progressBar = document.getElementById(id + "progress");
                if (progressBar) {
                    let txt = progress + "%";
                    progressBar.innerText = txt;
                }

                if (progress > 99.5) {
                    // disable the timer for updating the progress bar
                    clearInterval(progressBarTimer);
                    progressBarTimer = null;
                }
            } catch (error) {
                console.error("An error occurred while processing the file:", error);
                alert("An error occurred while processing the file.");
            }
        }

        function asyncTest(event, id, filename) {
            event.preventDefault();
            const formData = new FormData();
            formData.append("filename", filename);

            fetch("/process/test", {
                method: "POST",
                body: formData } )
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(result => {
                    // Check if the required fields exist in the JSON response
                    console.log(result);
                    if (result.info && result.page1 && result.page2) {


                        let message = "Test PDF Completed: \n";
                        message += "Start Page: " + result.page1 + "\n";
                        message += "End Page: " + result.page2 + "\n";
                        alert(message);
                    } else {
                        alert("Unexpected response format.");
                    }
                })
                .catch(error => {
                    alert("An error occurred while processing the file.");
                });

//            show_test_buttons();
            showHideSettings(id, filename);
            // wait 500 milliseconds before showing the settings
            // to allow the settings to be loaded
            setTimeout(() => {
                showHideSettings(id, filename);
            }, 500);

            return false;
        }


        function showHideSettings(id, filename) {
            let elem = document.getElementById(id + "_set_div");
            if (elem.style.display === "none") {
                elem.style.display = "block";
                loadSettings(id, filename);
            } else {
                elem.style.display = "none";
            }
            show_test_buttons();
        }

        function showHideDelDiv(id) {
            let elem = document.getElementById(id + "_del_div");
            if (elem.style.display === "none") {
                elem.style.display = "block";
            } else {
                elem.style.display = "none";
            }
        }


        function loadSettings(id, filename) {
            let elem = document.getElementById(id + "_set_div");
            // Load settings for the specific file using /settings/load/{{ filename }}
            let url = "/settings/load/" + filename;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Populate the settings fields with the loaded data
                    document.getElementById("sp_" + id).value = data.search_pattern;
                    document.getElementById("sa_" + id).value = data.save_as;
                    document.getElementById("sd_" + id).value = data.save_date;
                    document.getElementById("pd_" + id).value = data.process_date;
                    document.getElementById("ms_" + id).value = data.message_subject;
                    document.getElementById("mb_" + id).value = data.message_body;   
                    document.getElementById("names_" + id).checked = data.include_account_names;
                    document.getElementById("nums_" + id).checked = data.include_account_numbers;
                })
                .catch(error => {
                    console.error("Error loading settings:", error);
                });
        }

        function saveSettings(event, id, filename) {
            let searchPattern = document.getElementById("sp_" + id).value;
            let saveAs = document.getElementById("sa_" + id).value;
            let saveDate = document.getElementById("sd_" + id).value;
            let processDate = document.getElementById("pd_" + id).value;
            let messageSubject = document.getElementById("ms_" + id).value;
            let messageBody = document.getElementById("mb_" + id).value; 
            let includeAccountNames = document.getElementById("names_" + id ).checked;
            let includeAccountNumbers = document.getElementById("nums_" + id).checked;

            const formData = new FormData();
            formData.append("search_pattern", searchPattern);
            formData.append("save_as", saveAs);
            formData.append("save_date", saveDate);
            formData.append("process_date", processDate);
            formData.append("message_subject", messageSubject);
            formData.append("message_body", messageBody);
            formData.append("include_account_names", includeAccountNames);
            formData.append("include_account_numbers", includeAccountNumbers);

            let url = "/settings/save/" + filename;
            fetch(url, {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    // Handle the result if needed
                    show_test_buttons();
//                    window.location.reload(); // Reload the page to reflect changes
                })
                .catch(error => {
                    console.error("Error saving settings:", error);
                    alert("An error occurred while saving the settings.");
                });
        }

        function deleteAllFiles(id, filename) {
            const formData = new FormData();
            formData.append("filename", filename);

            let url = "/delete/all/files";
            fetch(url, {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(result => {
                    let msg = result.info;

                    alert(msg);
                })
                .catch(error => {
                    console.error("Error deleting files:", error);
                    alert("An error occurred while saving the settings.");
                });
        }

        function show_test_buttons() {
            let elmts = document.getElementsByClassName('test_button');
            for (let i = 0; i < elmts.length; i++) {
                // determine if a test pdf exists for this file
                let txt = elmts[i].innerHTML;
                // extract the filename from the text between << and >>
                let matchArray = txt.match(/<<(.+?)>>/);
                let test_file_name = matchArray ? matchArray[1] : null;
                let url = "";
                if (test_file_name) {
                    url = "/settings/check-exist/" + test_file_name;
                    // make a fetch request to check if the test file exists
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            if (data.result > 0) {
                                // If the file exists, show the button
                                elmts[i].style.display = "block";
                            } else {
                                // If the file does not exist, hide the button
                                elmts[i].style.display = "none";
                            }
                        })
                        .catch(error => {
                            console.error("Error checking file existence:", error);
                        });
                } else {
                    elmts[i].style.display = "none";
                }
                url = "/settings/test/" + test_file_name;
                console.log("Test file name: ", test_file_name);
            }
        }

    </script>
{% endblock %}
